/*comment*/
.QuizPageClass{
    display:   none; /*don't display the quiz page element from beginning -- show home page!*/
}

.quiz-ready {
    display: none; /*don't display the quiz-ready element from beginning*/
}

.question-container {
    display: none; /*don't display questions from beginning*/
}

.quiz-result {
    display: none; /*don't display quiz result from beginning*/
}
.question {
    display: block; /*more space then using inline*/
    margin: 10px 0; /* question is above answers, the distance is controlled here (both top an d bottom is 10px)*/
}

.answers {
    margin: 0 0 30px; /*space from answer to progress bar (shorthanded property, in this only setting bottom)*/
    padding: 0; /*the 1. 2. and 3. will be closer to left edge, when using this*/
    list-style: none; /* ensure no marker will be shown in the <li>*/
}

.answer { /*APPLIES TO ALL ANSWER (BOTH FIRST, SECONDS AND THIRD)*/
    position: relative; /*position is relative to its normal position*/
    display: block; /*more space then using inline*/
    margin: 0; /*no margin*/
    padding: 20px 20px 20px 60px; /*make an area around the answer --> it becomes a box*/
    cursor: pointer; /* makes cursor to a pointed hand*/
}

.answer:hover { /*by only writeing the class answer, this will be applied on all both answer first,second and third*/
    background-color: rgba(0,0,255,0.3); /*when hovering acorss answers, the <li> will change color to blue with incl "opacity" */
}

.answer:before { /*design the 1. 2. and 3. at the answers*/
    position: absolute; /*the position will be relative to its first positioned ancestor element*/
    top: 10px; /* top edge */
    left: 20px; /*left edge*/
    display: block; /*more space then using inline*/
    font-size: 30px; 
}

.answer.first:before { /*before means inserts content before the content of the selected element(s).*/
    content: '1.'; /*write a "1" in first class answer first*/
}

.answer.second:before {
    content: '2.';
}

.answer.third:before {
    content: '3.';
}

#clear_button { /*designed a invisible localStorage clear button*/
    margin-top: 25px; /*give a small margin in the top*/
    height: 50px; /*size of button*/
    width: 50px; /*size of button*/
}
#clear_button:hover { /*Make the button a hover when entering the button area*/
    border: 1px #999999 solid; /*grey border*/
}

.carousel-inner > .item > img{ 
    width: 200px; /*size of inner carousel --> space for images*/
    height: 200px; /*size of inner carousel --> space for images*/
    margin: auto; /*let the browser calculate a margin*/
}

.carousel-caption { /*caption of carousel*/
    position: relative; /*position is relative to its normal position*/
    left: auto;  /*let browser control left edge*/
    right: auto; /*let browser control right edge*/
}